@use "../variable.scss" as *;

.container {
    display: inline-flex;
    margin: 0 10vh;
    align-items: center;

    .placeholder {
        height: 50vh;
        width: 50vh;
        aspect-ratio: 1 / 1;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7vh;
    }

    .homedetails {
        display: grid;
        text-align: center;

        .title {
        font-size: 5vh;
        word-spacing: 0.3em;
        margin: 0;

            .name {
                font-family: $font-secondary;
                color: $secondary;
                letter-spacing: 0.3em;
            }
        }

        .subtitle {
            color: $base;
            letter-spacing: 0.7em;
            margin: 2vh 0;
        }

        p {
            text-align: left;
        }
    }
}