.navbar {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 7vh;
    color: var(--black-base);
}

.navbar a {
    text-decoration: none;
    margin-left: 8vh;
    color: var(--black-base);
    line-height: 2vh;
}

.navbar a:hover {
    color: var(--base);
    transition: ease-in-out 0.2s;
}