@use '../variable.scss' as *;

.navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  color: $base;

  .logo {
    display: inline-flex;
    align-items: center;

    img {
      width: 6vh;
      margin-right: 2vh;
    }

    p {
      font-family: $font-secondary;
      font-size: 3vh;
      letter-spacing: 0.7em;
      color: $black-base;
    }
  }

  .tab {
    display: flex;
    align-items: center;

    a,
    .themeIcon {
      display: inline-block;
      text-decoration: none;
      margin-left: 8vh;
      color: inherit;
      transition: transform 0.2s ease-in-out;
    }

    .active {
      color: $black-base;
      cursor: default;

      &:hover {
          color: $black-base;
          transform: none;
        }
    }

    a:hover,
    .themeIcon:hover {
      color: $secondary;
      transform: translateY(-2px);
    }

    .themeIcon {
      width: 3vh;
      height: 3vh;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &.dark {
    .logo p {
      color: $white-base;
    }

    .tab {
      a,
      .themeIcon {
        color: $lighter-base;
      }

      .active {
        color: $white-base;

        &:hover {
          color: $white-base;
          transform: none;
        }
      }

      a:hover,
      .themeIcon:hover {
        color: $secondary;
      }
    }
  }
}