@use '../variable.scss' as *;

.navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  color: $black-base;

  a, .themeIcon {
    text-decoration: none;
    margin-left: 8vh;
    color: $black-base;
    display: inline-block;
  }

  a:hover, .themeIcon:hover {
    color: $base;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-2px);
  }

  .themeIcon {
    width: 3vh;        
    height: 3vh;      
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.dark {
    color: $white-base;

    a, .themeIcon {
        color: $white-base;
    }

    a:hover, .themeIcon:hover {
        color: $lighter-base;
    }
  }

  .logo {
    display: inline-flex;
  }

  img {
    width: 6vh;
    margin-right: 2vh;
  }

  p {
    font-family: $font-secondary;
    letter-spacing: 0.7em;
    font-size: 3vh;
  }
}

.tab {
  display: flex;
  align-items: center;
}
