:root {
  --color-white-base: #F1EDF5;
  --color-secondary: #F8D079;
  --color-lighter-base: #AB81CD;
  --color-base: #654597;
  --color-black-base: #150A25;
  --font-primary: 'Mulish', sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  background: linear-gradient(
    45deg,
    rgba(248, 208, 121, 0.8),  /* #F8D079 at 80% opacity */
    rgba(101, 69, 151, 0.8)    /* #654597 at 80% opacity */
  );
  color: var(--color-black-base);
}
